# {{ ansible_managed }}

# Disable all filtering on loopback interfaces.
set skip on lo

# Macro for the external interface.
ext_if = "{{ pf_ext_if }}"

# Scrub all inbound traffic.
scrub in on $ext_if fragment reassemble

# Block all inbound and outbound traffic by default.
block return

# Enable protection against address spoofing.
antispoof for $ext_if

# Allow any outbound traffic.
pass out on $ext_if proto { tcp, udp, icmp } modulate state

# Allow inbound ICMP traffic.
pass in on $ext_if proto icmp

# Allow inbound traffic.
open_ports = "{ {{ pf_open_ports|join(",") }} }"
pass in on $ext_if proto tcp to port $open_ports synproxy state
