# {{ ansible_managed }}

# macros
# macro for the external interface
ext_if = "{{ pf_ext_if }}"

# options
# disable all filtering on loopback interfaces
set skip on lo0

# normalization
# normalize all incoming traffic
scrub in on $ext_if all fragment reassemble

# filtering
# block everything by default
block return in all
# enable protection against address spoofing
antispoof for $ext_if
# allow outbound traffic
pass out all modulate state
# allow inbound icmp traffic
pass in quick on $ext_if proto icmp
# allow inbound traffic for some services
{% for port in pf_open_ports %}
pass in quick on $ext_if proto tcp to port {{ port }} 
{% endfor %}
